<!DOCTYPE html>
<html>
    <head>
        <title>Criar Movimentação</title>

        {% load static %}

        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel="stylesheet" href="{% static 'css/home.css'%}">

    </head>
    <body>
        <div class="conteiner">
            <h1>Sistem de Gerenciamento de Conteiners</h1>

            <nav class="home-nav">
                <a href="{% url 'listar_conteiner' %}" class="button-link">Gerenciar Conteiners</a>
                <a href="{% url 'listar_movimentacao' %}" class="button-link">Gerenciar Movimentações</a>
                <a href="{% url 'relatorio' %}" class="button-link">Relatório</a>
            </nav>
        </div>
    </body>