<!DOCTYPE html>
<html>
    <head>
        <title>Listar Conteiner</title>

        {% load static %}

        <link rel="stylesheet" href="{% static 'css/conteiner.css'%}">
    </head>
    <body>
        <h1>Conteiners</h1>

        <a href="{% url 'criar_conteiner' %}" class="add-button">Adicionar Conteiner</a>

        <table border="1">
            <thead>
                <tr>
                    <th>Número do Conteiner</th>
                    <th>Categoria</th>
                    <th>Cliente</th>
                    <th>Status</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                {% for conteiner in conteiner %}
                <tr>
                    <td>{{conteiner.numero_conteiner}}</td>
                    <td>{{conteiner.categoria}}</td>
                    <td>{{conteiner.cliente}}</td>
                    <td>{{conteiner.status}}</td>
                    <td>{{conteiner.tipo}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <a href="{% url 'home_page' %}">
            <button>Voltar para Home</button>
        </a>
    </body>
</html>

    