<!DOCTYPE html>
<html>
    <head>
        <title>Listar Movimentação</title>

        {% load static %}

        <link rel="stylesheet" href="{% static 'css/movimentacao.css'%}">
    </head>
    <body>
        <h1>Movimentações</h1>

        <a href="{% url 'criar_movimentacao' %}" class="add-button">Adicionar Movimentação</a>

        <table border="1">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Tipo de Movimentação</th>
                    <th>Número do Conteiner</th>
                    <th>Data de Ínicio</th>
                    <th>Data de Fim</th>
                </tr>
            </thead>
            <tbody>
                {% for movimentacao in movimentacoes %}
                <tr>
                    <td>{{movimentacao.conteiner.cliente}}</td>
                    <td>{{movimentacao.tipo_movimentacao}}</td>
                    <td>{{movimentacao.conteiner.numero_conteiner}}</td>
                    <td>{{movimentacao.data_inicio}}</td>
                    <td>{{movimentacao.data_fim}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <a href="{% url 'home_page' %}">
            <button>Voltar para Home</button>
        </a>
    </body>
</html>

    