<!DOCTYPE html>
<html>
    <head>
        <title>Relatório de Movimentações</title>

        {% load static %}

        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel="stylesheet" href="{% static 'css/relatorio.css'%}">
    </head>
    <body>
        <h1>Relatório de Movimentações por Cliente e Tipo</h1>

        <table border=1"">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Tipo de Movimentação</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in relatorio%}
                <tr>
                    <td>{{item.conteiner__cliente}}</td>
                    <td>{{item.tipo_movimentacao}}</td>
                    <td>{{item.total}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>

        <h2>Sumário de Importação e Exportação</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Importação</td>
                    <td>{{total_importacao}}</td>
                </tr>
                <tr>
                    <td>Exportação</td>
                    <td>{{total_exportacao}}</td>
                </tr>
            </tbody>
        </table>

        <a href="{% url 'home_page' %}">
            <button>Voltar para Home</button>
        </a>
    </body>
</html>